{% extends "_layouts/base.html" %}
{% load cms_tags %}
{% block content %}
<div id="content-left" class="full-content">
    <div id="story-wrap">
        <div id="story-content">
            {% placeholder content %}
        </div>
        <div id="story-illustration">
            <div id="vk_groups"></div>

            <div class="fb-like-box"
                data-href="http://www.facebook.com/phuketstash"
                data-width="260" data-height="350"
                data-colorscheme="dark"
                data-show-faces="true"
                data-header="true"
                data-stream="false"
                data-show-border="false">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block h1 %}
    <div id="page-title-wrap">
			<div id="page-title">
				<div id="page-title-content">{{ current_page.get_title }}
					<span class="left ornament"></span>
					<span class="right ornament"></span>
				</div>
			</div>
			<div id="page-title-descr">{% page_attribute "meta_description" %}</div>
		</div>
{% endblock %}
