{% load compress staticfiles cms_tags menu_tags sekizai_tags i18n %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>{% block page_title %}{% page_attribute page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="msthemecompatible" content="no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% block page_description %}{% endblock %}">

        <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>
  {% compress js %}
  <script src="{% static 'js/libs/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
  {% endcompress %}
            <!-- Put this script tag to the <head> of your page -->

{#        <link type="image/x-icon" rel="icon" href="http://raybreaker.ru/goodold/favicon.ico"> #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBj-fsRWfiwMgbKd4aBunuZEMHCkJNiaxM&sensor=false"></script>
        <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/nivoSlider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lightBox.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fancyCaption.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jqueryui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/twitterFeed.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bxSlider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ztwitterfeed.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/general.js' %}"></script>
        <!-- Google web font include -->
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/nivo-slider/themes/default/default.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fancy-caption.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.lightbox-0.5.css' %}">
        <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css//style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/fonts2.css' %}">

        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block css %}{% endblock %}
        {% endcompress %}
        {% block meta %}
        {% endblock %}
        {% render_block "css" %}
    </head>
    <body class="home blog {% block body_class %}{% endblock %}" id="scrolltop" {% block body_attributes %}{% endblock %}>
    <div id="fb-root"></div>
    <!-- BEGIN HEADER -->
    {% cms_toolbar %}
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    {% block body %}
        <header>{% block header %}
            <div id="header" class="header-main">
                <div id="header-content">
                    <div id="header-telephone">
                        <span>+66-945-789-567</span>
                    </div>
                    <div id="language-chooser">{% language_chooser "base/language_chooser.html" %}</div>
                    <div>
                    <div id="header-auth-form">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">{% trans 'Регистрация/Вход'%}</a>
                    {% else %}
                        <span>{{ user.email }}</span>
                        <a href="{% url 'logout' %}?{{ redirect_querystring }}">{% trans 'выход' %}</a>
                    {% endif %}
                </ul>
            </div>

                    </div>
                    <div id="social-button">
                        <a href="http://www.facebook.com/phuketstash"><div id="facebook-img"></div></a>
                        <a href="https://vk.com/phuketstash"><div id="vk-img"></div></a>
                    </div>
                    <nav>
                        <div id="menu">
                            <ul id="menu-header-menu" class="menu">
                                {% show_menu 0 100 100 100 "base/menu.html" %}
                            </ul>
                        </div>
                    </nav>
                    <select id="header-mobile-menu">
                        {% show_menu 0 100 100 100 "base/mobilemenu.html" %}
                    </select>
                </div>
                <div id="header-bg"></div>
            </div>
            {% endblock %}
        </header>
        <!-- END HEADER -->
        {% block h1 %}{% endblock %}
        <!-- BEGIN MAIN SLIDER -->
{#        {% placeholder base_content %}#}
        {% block slider %}{% endblock %}
        <!-- END MAIN SLIDER -->

        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="main-page-content">
            {% get_current_language as LANGUAGE_CODE %}
            {% block content %}
                <!-- END OUR STORY -->
            {% endblock %}
            <div class="clear"></div>
            <h4>Не забывайте лайкать страницу, если то, что вы прочитали было интересно</h4>
            <div class="four-columns">
                <div id="vk_like"></div>
            </div>
            <div class="four-columns">
                <div class="fb-like"
                     data-href="{{ request.build_absolute_uri }}"
                     data-layout="standard"
                     data-action="recommend"
                     data-show-faces="true"
                     data-share="true">
                 </div>
            </div>
            <div class="clear"></div>
            {% show_breadcrumb "base/breadcrumb.html" %}
            <!-- BEGIN SOCIAL -->
            <!-- END SOCIAL -->
        </div>
        <!-- END MAIN CONTENT -->

        <div class="clear"></div>
        <!-- BEGIN PREFOOTER -->
        <div id="prefooter-main-wrap">
            <div id="scrolltop-wrap">
                <a href="#scrolltop" class="scroll"><div id="scrolltop-img"></div></a>
            </div>
            <div id="prefooter-content">
            <h4>Не стесняйтесь задавать вопросы в комментариях к странице</h4>
            {% ifequal LANGUAGE_CODE 'en' %}
{#                <div class="fb-recommendations" data-width="450" data-app-id="605738149495900" data-site="phuketstash.com" data-action="likes, recommends" data-max-age="35" data-colorscheme="light" data-header="true"></div>#}
                <div class="fb-comments"
                     data-width="600"
                     data-numposts="10"
                     data-colorscheme="light"></div>
            {% else %}
{#                <div id="vk_recommended"></div>#}
                <div id="vk_comments"></div>
            {% endifequal %}
                <div class="clear"></div>
            </div>
        </div>
        <!-- END PREFOOTER -->
        <!-- BEGIN FOOTER -->
        <div id="footer">
            {% block footer %}
            <div id="footer-content-main">
                <div id="footer-copyright"><p>Copyright © 2014 <strong>Phuket STASH</strong></p></div>
                <div id="footer-misc">
                    <ul id="footer-misc" class="menu">
{#                        <li><a href="http://term_of_use_link/">Term of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>#}
{#                        <li><a href="http://privacy_policy/">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>#}
                        <li><a href="{% page_url 'contacts' %}">{% trans "Контакты" %}</a></li>
                    </ul>
                </div>
            </div>
            {% endblock footer %}
        </div>
        <!-- END FOOTER -->

  <!-- scripts concatenated and minified via django-compressor -->
  {% compress js %}
  {% block js %}
      <script src="{% static 'js/main.js' %}"></script>
  {% endblock js %}
  {% endcompress %}
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-6396768-4'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endblock %}
  {% render_block "js" %}
    <!-- Start SiteHeart code -->
<script>
(function(){
// your widget ID
var widget_id = 1;
_shcp = [{widget_id : widget_id}];
// set default language
var lang = (navigator.language || navigator.systemLanguage
	|| navigator.userLanguage ||  "en")
	.substr(0, 2).toLowerCase();
// script url
var url  = "widget.siteheart.com/widget/sh/" + widget_id + "/"
  +  lang + "/widget.js";
var hcc = document.createElement("script");
hcc.type = "text/javascript";
hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")
  +   "://" + url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24110755 = new Ya.Metrika({id:24110755,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24110755" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- End SiteHeart code -->
  </body>
</html>
